/* fuentes */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */


* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', 'PT Sans', sans-serif;
    margin: 0 5%;
    background-color: SlateGray;
    color: white;
  }

  /* grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header'
      'navbar navbar navbar navbar navbar navbar' 
      'aside contenido contenido contenido contenido contenido' 
      'footer footer footer footer footer footer';  
    grid-gap: 10px;
  }

    /* propiedades generales mientras acomodamos el css */
    .header,
    .navbar,
    .aside,
    .contenido,
    .articulo,
    .footer
    {
      background-color: DimGray;
      border: solid 1px lightgrey;
      text-align: center;
    }

  /* header */
  .header {
    grid-area: header;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
    background-image: url('../imagenes/LogoCAB_2021-155x214.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 10%;
    min-height: 250px;
  }

  /* navbar */
  .navbar {
    grid-area: navbar;
    padding: 10px;
  }

  .navbar a {
    padding: 10px 50px;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
  }

  .navbar a:hover {
    color: CadetBlue;
  }
  
  /* aside */
  .aside {
    grid-area: aside;
  }

  .aside a {
    margin: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white; 
  }
  
  .aside a:hover {
    color: CadetBlue;
  }
  /* contenido */
  .contenido {
    grid-area: contenido;
  }

/* articulo */
  .articulo {
  margin: 20px;
  padding: 10px;
  font-family: 'PT Sans', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  }

  /* articulo titulo */
  .articulo h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0px;
  }

  /* articulo parrafo */
  .articulo-textos {
    font-size: 1em;
    font-weight: 400;
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
    width: 70%; 
  }

  /* imagen artidulo */
.articulo-imagen {
  margin: 10px;
  width: 25%;
  height: auto;
  border-radius: 15px;
  vertical-align: top;
  left: 0;
}
  /* footer */
  .footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
  }

      /* Responsive layout - hace que se apilen las columnas navbar, aside y contenido */
      @media (max-width: 600px) {
        .grid-container  {
          grid-template-areas: 
            'header header header header header header'
            'navbar navbar navbar navbar navbar navbar' 
            'aside aside aside aside aside aside' 
            'contenido contenido contenido contenido contenido contenido' 
            'footer footer footer footer footer footer';
        }
    }